<div class="row py-4">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title"><%= @user.name %></h6>
        <p class="card-text text-muted"><%= @user.email %></p>
        <div class="row">
          <div class="col">
            <h5 class="py-2">Following</h5>
            <p><%= @user.following.count %></p>
          </div>
          <div class="col">
            <h5>Followers</h5>
            <p><%= @user.followers.count %></p>
          </div>
        </div>
        <div class="d-inline-block my-2">
          <% if current_user.following?(@user) %>
            <%= button_to "Unfollow", follow_profiles_path(@user.id), method: :post, data: {}, form_class: "button-destroy", class: 'btn btn-sm btn-primary' %>
          <% else %>
            <%= button_to "Follow", follow_profiles_path(@user.id), method: :post, data: {}, form_class: "button-destroy", class: 'btn btn-sm btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
  </div>
</div>
